{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Doctor Master Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="sidenav">
        <a href="show_doctor_profile_page">
            <img src="{% static 'media/Profile.gif' %}" 
            alt="My Profile" style="width:20px;height:20px;"></a>
        <a href="#services">Doctors</a>
        <a href="#clients">Patient</a>
        <a href="#contact">Invoice</a>
        <a href="#contact">Appointment</a>
        <a href="#contact">Calendar</a>
        <a href="#contact">Follow-ups</a>
        <a href="#contact">Templates</a>
        <a href="#services">Doctors</a>
        <a href="#clients">Patient</a>
        <a href="#contact">Invoice</a>
        <a href="#contact">Appointment</a>
        <a href="#contact">Calendar</a>
        <a href="#contact">Follow-ups</a>
        <a href="#contact">Templates</a>
        <a href="#services">Doctors</a>
        <a href="#clients">Patient</a>
        <a href="#contact">Invoice</a>
        <a href="#contact">Appointment</a>
        <a href="#contact">Calendar</a>
        <a href="#contact">Follow-ups</a>
        <a href="#contact">Templates</a>
        <a href="#services">Doctors</a>
        <a href="#clients">Patient</a>
        <a href="#contact">Invoice</a>
        <a href="#contact">Appointment</a>
        <a href="#contact">Calendar</a>
        <a href="#contact">Follow-ups</a>
        <a href="#contact">Templates</a>
      </div>
</body>
</html>